.Form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 30px 0;
}

.LabelContainer {
	display: flex;
	flex-direction: column;
}

.LabelHeading {
	align-items: center;
	margin: 0 0 20px;
	padding: 0;
}

.InputContent {
	margin: 0 0 40px;
}

.ErrorLabelHeading {
	margin: -20px 0 40px;
	padding: 0;
	color: coral;
}

.SubmitBtn {
	cursor: pointer;
}
